*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#white-btn{
    font-size: large;
}

.box{
    border: 1px solid black;
    width: 25%;
    width: 40px;
    height: 40px;
    background: white;
}